<?xml version="1.0"?>
<launch>
  <arg name="robot_namespace" default=""/>
  <!-- https://github.com/tysik/obstacle_detector/blob/master/launch/nodes.launch -->

  <!-- <node name="scans_merger" pkg="obstacle_detector" type="scans_merger_node">
    <param name="active"            value="true"/>
    <param name="publish_scan"      value="false"/>
    <param name="publish_pcl"       value="true"/>

    <param name="ranges_num"        value="1000"/>

    <param name="min_scanner_range" value="0.05"/>
    <param name="max_scanner_range" value="10.0"/>

    <param name="min_x_range"       value="-10.0"/>
    <param name="max_x_range"       value="10.0"/>
    <param name="min_y_range"       value="-10.0"/>
    <param name="max_y_range"       value="10.0"/>

    <param name="fixed_frame_id"   value="map"/>
    <param name="target_frame_id"   value="robot"/>
  </node> -->

  <!-- load parameter file -->
  <rosparam command="load" file="$(find burger_war_dev)/config/obstacle_detector.yaml" />

  <node name="obstacle_extractor" pkg="obstacle_detector" type="obstacle_extractor_node">
    <param name="frame_id" value="$(arg robot_namespace)/map"/>
  </node>

  <node name="obstacle_tracker" pkg="obstacle_detector" type="obstacle_tracker_node">
    <param name="frame_id" value="$(arg robot_namespace)/map"/>
    <remap from="tracked_obstacles" to="obstacles"/>
  </node>

  <!-- <node name="obstacle_publisher" pkg="obstacle_detector" type="obstacle_publisher_node">
    <param name="active"           value="true"/>
    <param name="reset"            value="false"/>

    <param name="fusion_example"   value="false"/>
    <param name="fission_example"  value="false"/>

    <param name="loop_rate"        value="10.0"/>
    <param name="radius_margin"    value="0.25"/>

    <rosparam param="x_vector">[-3.0, -2.5, -2.5, -1.0, -1.0, -0.5, 2.5, 0.2, 2.0, 4.5, 4.0, 1.5]</rosparam>
    <rosparam param="y_vector">[1.5, 0.0, -2.5, 3.0, 1.0, -4.0, -3.0, -0.9, 0.0, 0.0, 2.0, 2.0]</rosparam>
    <rosparam param="r_vector">[0.5, 0.5, 1.5, 0.5, 0.7, 0.5, 1.5, 0.7, 0.7, 1.0, 0.5, 1.0]</rosparam>
    <rosparam param="vx_vector">[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]</rosparam>
    <rosparam param="vy_vector">[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]</rosparam>

    <param name="frame_id"         value="map"/>
  </node> -->

</launch>
